{% extends "base.html" %}
{% load feincms_thumbnails %}
{% block band %}
    <div class="bandsingleimg">
      {% if band.image %}
        <img src = "{{ band.image|cropscale:"869x343" }}">
      {% endif %}</br></br>
    </div>
    <br clear="both">
    
    <div class="bandinfo">
      <div class="bandsingletext">
        {{ band.name }}</br></br>
        {{ band.description }}</br></br>
      </div>
      <hr class="hr5">
      <div class="bandsingleinfo">
        {% for year in band.bandyear_set.all %}
            WO: {{ year.get_stage_display }}</br></br>
            WANN: {{ year.time|date:"D, d M, H:i" }} Uhr</br></br>
        {% endfor %}
        GENRE: {{ band.genre }}
      </div>
      <br clear="both">
    </div>
  <br clear="both">
  <hr class="hr6">
{% endblock %}

