{% load feincms_thumbnails %}
{% block band %}
    <div class="bandclose">
      <img src="{{ STATIC_URL }}img/x.png" />
    </div>
    <div class="bandsingleimg">
      {% if band.image %}
        <img src = "{{ band.image|cropscale:"923x343" }}">
      {% endif %}</br></br>
    </div>
    <br clear="both">
    
    <div class="bandinfo">
      <div class="bandsingletext">
        {{ band.name }}</br></br>
        {{ band.description }}</br></br>
      </div>
      <div class="bandsingleinfo">
        <hr class="hrvertical">
          <div class="innerband">
            {% for year in band.bandyear_set.all %}
              <b>WO:</b> {{ year.get_stage_display }}</br></br>
              <b>WANN:</b> {{ year.time|date:"D, d M, H:i" }} Uhr</br></br>
            {% endfor %}
            <b>GENRE:</b> {{ band.dotted_genres }}
          </div>
          <div class="bandlinks">
            {% for link in band.bandlinks_set.all %}
              {% if link.type == "FB" %}
              <div class="bandfb">
                <a href="{{ link.link }}" target="_blank">
                  <img src="{{ STATIC_URL }}img/Facebook.jpg" />
                </a>
              </div>
              {% elif link.type == "MS" %}
              <div class="bandms">
                <a href="{{ link.link }}" target="_blank">
                  <img src="{{ STATIC_URL }}img/myspace.png" />
                </a>
              </div>
              {% elif link.type == "YT" %}
              <div class="bandyt">
                <a href="{{ link.link }}" target="_blank">
                  <img src="{{ STATIC_URL }}img/youtube.png" />
                </a>
              </div>
              {% elif link.type == "SC" %}
              <div class="bandsc">
                <a href="{{ link.link }}" target="_blank">              
                  <img src="{{ STATIC_URL }}img/soundcloud.png" />
                </a>
              </div>
              {% elif link.type == "WS" %}
              <div class="bandwb">
                <a href="{{ link.link }}" target="_blank">
                  <img src="{{ STATIC_URL }}img/website.png" />
                </a>
              </div>
              {% elif link.type == "TT" %}
              <div class="bandtt">
                <a href="{{ link.link }}" target="_blank">
                  <img src="{{ STATIC_URL }}img/Twitter.png" />
                </a>
              </div>
              {% endif %}
                <ul>{{ link.type.link }}</ul>
            {% endfor %}
          </div>
      </div>
      <br clear="both">
    </div>
  <br clear="both">
  <hr class="hrhorizontal">
{% endblock %}

