{% load feincms_thumbnails %}
{% block band %}
    <div class="bandclose">
      <img src="{{ STATIC_URL }}img/x.png" />
    </div>
    <div class="bandsingleimg">
      {% if band.image %}
        <img src = "{{ band.image|cropscale:"923x343" }}">
      {% endif %}</br></br>
    </div>
    <br clear="both">
    
    <div class="bandinfo">
      <div class="bandsingletext">
        {{ band.name }}</br></br>
        {{ band.description }}</br></br>
      </div>
      <div class="bandsingleinfo">
        <hr class="hrvertical">
          <div class="innerband">
            {% for year in band.bandyear_set.all %}
              WO: {{ year.get_stage_display }}</br></br>
              WANN: {{ year.time|date:"D, d M, H:i" }} Uhr</br></br>
            {% endfor %}
            GENRE: {{ band.dotted_genres }}
          </div>
          {% for link in band.bandlinks_set.all %}
              <ul>{{ link.type }}</ul>
          {% endfor %}
      </div>
      <br clear="both">
    </div>
  <br clear="both">
  <hr class="hrhorizontal">
{% endblock %}

