{% load feincms_thumbnails %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style2.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webfontkit/stylesheet.css">
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/8b4ef91c-5f05-4c36-ae88-051dad5dee5d.css"/>
  <title>stolze-openair.ch</title>
</head>

<body>
  <div class="page">
    <div class="headerbg">
      <div class="socialicons">
        <a href="http://www.facebook.com/stolze.openair" target="_blank">
          <img src="{{ STATIC_URL }}img/Facebook.jpg" />
        </a>
        <a href="https://twitter.com/StolzeOpenair/" target="_blank">
          <img src="{{ STATIC_URL }}img/Twitter.jpg" />
        </a>
        <a href="http://vimeo.com/stolzeopenair" target="_blank">
          <img src="{{ STATIC_URL }}img/Vimeo.jpg" />
        </a>
      </div>
      
      <div class="navigation">
        <div class="navigationleft">
          <hr class="hrlefttop">
          <br>
          <div class="navtoggleup">
            <img src="{{ STATIC_URL }}img/up.png" />
          </div>
          <div class="navtoggledown">
            <img src="{{ STATIC_URL }}img/down.png" />
          </div>
          <div class="navresponsive">
            <a href="/">DIHEI</a>
            <a href="/#bands">LINE-UP</a>
            <a href="/#gallery">GALERIE</a>
            <div class="navhidden">
              <a href="/#sponsor">SPONSOREN</a>
              <a href="/#kontakt">KONTAKT</a>
            </div>
          </div>
          <hr class="hrleftdown">
        </div>
        <div class="navigationright">
          <hr class="hrrighttop">
          <br>
          <a href="/#sponsor">SPONSOREN</a>
          <a href="/#kontakt">KONTAKT</a>
          <hr class="hrrightdown">
        </div>
      </div>
      {% for year in thisyears %}
        <div class="logo">
          {% if year.logo|thumbnail:"161x161" %}
            <img src = "{{ year.logo.url }}">
          {% endif %}
        </div>
      {% endfor %}
    </div>

{% block content %}
{% endblock %}
{% block band %}
{% endblock %}
{% block gallery %}
{% endblock %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
</script>

<script src="{{ STATIC_URL }}js/jquery.transit.js"></script>
<script src="{{ STATIC_URL }}js/scale.js"></script>
<script src="{{ STATIC_URL }}js/gallery_scroller.js"></script>
<script src="{{ STATIC_URL }}js/resize.js"></script>
<script src="{{ STATIC_URL }}js/smoothscroll.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
<script src="{{ STATIC_URL }}js/nav_reposition.js"></script>
<script src="{{ STATIC_URL }}js/news_scroller.js"></script>
<script src="{{ STATIC_URL }}js/sponsorslider.js"></script>
<script src="{{ STATIC_URL }}js/ajax_bands.js"></script>
<script src="{{ STATIC_URL }}js/ajax_gallery.js"></script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.fancybox.pack.js?v=2.1.4"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-media.js?v=1.0.5"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}lib/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>



</body>
</html>