{% load feincms_thumbnails %}
{% block gallery %}
<div id="gallerylink">
    <div class="galleryclose">
      <img src="{{ STATIC_URL }}img/x.png" />
    </div>
    {% for image in images %}
        <div class="gallerysingle">
            {% if image.image %}
                {% if image.choice == "Festival" %}
                <a class="fancybox" rel="group" href="{{ image.image.url }}">
                    <img src = "{{ image.image|cropscale:"271x181" }}">
                </a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    <br clear="both">
</div>
{% endblock %}