{% load feincms_thumbnails %}
{% block gallery %}
<div id="gallerylink">
    <div class="galleryclose">
      <img src="{{ STATIC_URL }}img/x.png" />
    </div>
    <div class="bandchoice">
        <p>Bands</p>
    </div>
 
    <div class="festivalchoice">
        <p>Festival</p>
    </div>

    <div class="categoryfestival">
        {% for image in images %}
            {% if image.choice == "Festival" %}
            <div class="gallerysingle">
                {% if image.image %}
                    <a class="fancybox" rel="group" href="{{ image.image.url }}">
                        <img src = "{{ image.image|cropscale:"271x181" }}">
                    </a>
                    {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="categorybands">
        {% for image in images %}
            {% if image.choice == "Bands" %}
            <div class="gallerysingle">
                    {% if image.image %}
                    <a class="fancybox" rel="group2" href="{{ image.image.url }}">
                        <img src = "{{ image.image|cropscale:"271x181" }}">
                    </a>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <br clear="both">
</div>
<br>
<br>
{% endblock %}