{% load feincms_thumbnails %}
<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <title>stolze-openair.ch</title>
  </head>
  <body>
      <div class="page">
        <div class="social">
          <a href="http://www.facebook.com/stolze.openair" target="_blank"><img src="{{ STATIC_URL }}img/Facebook.jpg" /></a>
          <a href="https://twitter.com/StolzeOpenair/" target="_blank"><img src="{{ STATIC_URL }}img/Twitter.jpg" /></a>
          <a href="http://vimeo.com/stolzeopenair" target="_blank"><img src="{{ STATIC_URL }}img/Vimeo.jpg" /></a>
        </div>

        {% for year in thisyears %}
          <div class="logo">
            {% if year.logo %}
              <img src = "{{ year.logo.url }}">
            {% endif %}
          </div>
        {% endfor %}

        <div class="nav">
          <hr>
          <div class="navigationleft">
            <h3>HOME<h3><h3>BANDS<h3><h3>GALERIE<h3>
          </div>
          <hr>
        </div>
        <div class="navigationright">
          <h3>SPONSOREN</h3><h3>KONTAKT</h3>
        </div>

        {% for mood in moods %}
          <div class="mood">
            {% if mood.image %}
              <img src = "{{ mood.image.url }}" width="1011" height="451">
            {% endif %}
          </div>
        {% endfor %}

        <div class="circlebutton">
          <div class="buttonband">
            <h2>BANDS</h2>
          </div>
        </div>


        {% for news in newss %}
          <div class="news">
            {{ news.name }}</br></br>
            {{ news.time }}</br></br>
            {{ news.description }}</br>
          </div>
        {% endfor %}

        <br clear="both">

        {% for band in bands %}
          <div class="bandsingle">
            {% if band.image %}
              <img src = "{{ band.image|cropscale:"271x181" }}">
            {% endif %}</br></br>
          </div>
        {% endfor %}

        <br clear="both">
        <br><br>

        <div class="circlebutton2">
          <div class="buttongallery">
            <h2>GALERIE</h2>
          </div>
        </div>

        <div class="gallerybg">
          {% for image in yearcovers  %}
            <div class="gallery">
              {% if image.image %}
                <img src = "{{ image.image|cropscale:"200x300" }}">
              {% endif %}
             </div>
          {% endfor %}
        </div>

        <br clear="both">

        <div class="circlebutton3">
          <div class="buttonsponsors">
            <h2>SPON-
            SOREN</h2>
          </div>
        </div>
        <br clear="both">

        {% for sponsor in sponsors %}
          <div class="sponsor">
            {% if sponsor.logo %}
              <a href="{{ sponsor.link }}" target="_blank"><img src = "{{ sponsor.logo|thumbnail:"228x9999" }}"></a>
            {% endif %}</br></br>
          </div>
        {% endfor %}

        <br clear="both">
        <br>

      </div>
  </body>
</html>
