{% load feincms_thumbnails %}
<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <title>stolze-openair.ch</title>
  </head>
  <body>
      <div class="page">
        <div class="socialicons">
          <a href="http://www.facebook.com/stolze.openair" target="_blank"><img src="{{ STATIC_URL }}img/Facebook.jpg" /></a>
          <a href="https://twitter.com/StolzeOpenair/" target="_blank"><img src="{{ STATIC_URL }}img/Twitter.jpg" /></a>
          <a href="http://vimeo.com/stolzeopenair" target="_blank"><img src="{{ STATIC_URL }}img/Vimeo.jpg" /></a>
        </div>

        {% for year in thisyears %}
          <div class="logo">
            {% if year.logo %}
              <img src = "{{ year.logo.url }}">
            {% endif %}
          </div>
        {% endfor %}

        <div class="nav">
          <hr style="position:absolute; margin-top:-15px; width: 400px;">
            <div class="navigationleft">
              <a href="http://127.0.0.1:8000/" style="text-decoration: none; color: #000000"><h3>HOME</h3></a>
              <a href="#bands" style="text-decoration: none; color: #000000"><h3>BANDS</h3></a>
              <a href="#gallery" style="text-decoration: none; color: #000000"><h3>GALERIE</h3></a>
            </div>
          <hr style="position:absolute; margin-top:13px; width: 400px;">
            <div class="navigationright">
              <hr style="position:absolute; margin-top: -15px; margin-left: -47px; width: 405px;">
              <a href="#sponsor" style="text-decoration: none; color: #000000"><h3>SPONSOREN</h3></a>
              <a href="" style="text-decoration: none; color: #000000;"><h3>KONTAKT</h3></a>
              <hr style="position:absolute; margin-top: 13px; margin-left: -47px; width: 405px;">
            </div>
        </div>
        <br>
        {% for mood in moods %}
          <div class="mood">
            {% if mood.image %}
              <img src = "{{ mood.image.url }}" width="1011" height="451">
            {% endif %}
          </div>
        {% endfor %}

        <div id="bands" class="circlebutton">
            <h2 style="position:relative; margin-top:37px; margin-left:13px; color: #FFFFFF;">BANDS</h2>
        </div>


        {% for news in newss %}
          <div class="news">
            {{ news.name }}</br></br>
            {{ news.time }}</br></br>
            {{ news.description }}</br>
          </div>
        {% endfor %}

        <br clear="both">

        {% for band in bands %}
          <div class="bandsingle">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  {% if band.image %}
                    <img src = "{{ band.image|cropscale:"271x181" }}">
                  {% endif %}</br></br>
                </div>
                <div class="back">
                  <p style="color: #6495ED;">{{band.name}}</p>
                  <hr>
                  {% for year in band.bandyear_set.all %}
                    Stage: {{ year.get_stage_display }}</br></br>
                    Datum: {{ year.time|date:"D, d M, H:i" }} Uhr</br></br>
                  {% endfor %}
                  Genre: {{band.genre}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <br clear="both">
        <br><br><br><br>

        <div id="gallery" class="circlebutton" style="position:absolute; margin-top:-48px;">
            <h2 style="position:relative; margin-top:37px; margin-left:3px; color: #FFFFFF;">GALERIE</h2>
        </div>

        <div class="greybackground">
          {% for image in yearcovers  %}
            <div class="gallery">
              {% if image.image %}
                <img src = "{{ image.image|cropscale:"200x300" }}">
              {% endif %}
             </div>
          {% endfor %}
          <br clear="both">
        </div>


        <div id="sponsor" class="circlebutton">
            <h2 style="position:relative; margin-top:28px; margin-left:13px; color: #FFFFFF;">SPON-
            SOREN</h2>
        </div>
        <br clear="both">

        {% for sponsor in sponsors %}
          <div class="sponsor">
            {% if sponsor.logo %}
              <a href="{{ sponsor.link }}" target="_blank"><img src = "{{ sponsor.logo|thumbnail:"180x9999" }}"></a>
            {% endif %}</br></br>
          </div>
        {% endfor %}

        <br clear="both">
        <br>

      </div>
  </body>
</html>
