<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">



    <!-- Typekit fonts require an account and a kit containing the fonts used.
    see https://typekit.com/plans for details. <script type="text/javascript"
    src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>stolze-openair.ch</title>
  </head>
  
  <body>
    <div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="page-header">
          <h1>Stolze Openair <small>2013</small> 
          </h1>
        </div>
        <li class="li-1"><a href="#" class="a-1">Bands</a>
        </li>
        <li class="li-2"><a href="#" class="a-1">Gallery</a>
        </li>
        <li class="li-3"><a href="sponsors.html" class="a-1">Sponsors</a>
        </li>
<a class="brand" href="#">Home</a>

        <div class="container-empty-1"></div>
        <div class="container-empty-2"></div>
        <div class="container-empty-3"></div>
        <div class="container-empty-4"></div>
        <div class="dom-paragraph dom-paragraph-1" id="dom-elem-42">
          <p class="p-1"><u>Coldeve</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-2" id="dom-elem-41">
          <p class="p-1"><u>Fatboy</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-3" id="dom-elem-46">
          <p class="p-1"><u>Alvin Zealot</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-4" id="dom-elem-47">
          <p class="p-2">Freitag, Hauptbühne, 19:45 Uhr</p>
          <p class="p-2">Genre: Indie/Rock/Soul</p>
        </div>
        <div class="dom-paragraph dom-paragraph-5" id="dom-elem-48">
          <p class="p-2">Samstag, Hauptbühne, 18:50 Uhr</p>
          <p class="p-2">Genre: Alternative/Indie/Live-Elektronic</p>
        </div>
        <div class="dom-paragraph dom-paragraph-6" id="dom-elem-49">
          <p class="p-2">Freitag, Hauptbühne, 19:45 Uhr</p>
          <p class="p-2">Genre: Indie/Rock/Soul</p>
        </div>
        <div class="container-empty-5"></div>
        <div class="container-empty-6"></div>
        <div class="container-empty-7"></div>
        <div class="dom-paragraph dom-paragraph-7" id="dom-elem-44">
          <p class="p-1"><u>Dabu Fantastic</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-8" id="dom-elem-43">
          <p class="p-1"><u>Jeans Team</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-9" id="dom-elem-45">
          <p class="p-1"><u>Lo Fat Orchestra</u>
          </p>
        </div>
        <div class="dom-paragraph dom-paragraph-10" id="dom-elem-52">
          <p class="p-2">Samstag, Hauptbühne, 16:50 Uhr</p>
          <p class="p-2">Genre: Mundartrock/Funk/Hip-Hop</p>
        </div>
        <div class="dom-paragraph dom-paragraph-11" id="dom-elem-51">
          <p class="p-2">Samstag, Zeltbühne, 19:50 &amp; 21:50 Uhr</p>
          <p class="p-2">Genre: Sphärischer PopGarage</p>
        </div>
        <div class="dom-paragraph dom-paragraph-12" id="dom-elem-50">
          <p class="p-2">Samstag, Hauptbühne, 22:50 Uhr</p>
          <p class="p-2">Genre: Electro/Pop/Techno</p>
        </div>
        <div class="container-empty-8"></div>
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 210px; text-align:right; border:1px">
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 130px; text-align:right; border:1px">
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 1030px; text-align:right; border:1px">
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 1130px; text-align:right; border:1px">
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 1675px; text-align:right; border:1px">
            <hr style="position: absolute; width:1000px; background-color:black; height:5px;
            margin-top: 1755px; text-align:right; border:1px">
        <div class="dom-paragraph dom-paragraph-13" id="dom-elem-34">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">CeDe</p>
        </div>
        <div class="dom-paragraph dom-paragraph-14" id="dom-elem-33">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">MIGROS</p>
        </div>
        <div class="dom-paragraph dom-paragraph-15" id="dom-elem-31">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">EWZ</p>
        </div>
        <div class="dom-paragraph dom-paragraph-16" id="dom-elem-29">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">ZKB</p>
        </div>
        <div class="dom-paragraph dom-paragraph-17" id="dom-elem-32">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">RIFFRAFF</p>
        </div>
        <div class="dom-paragraph dom-paragraph-18" id="dom-elem-26">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Mascotte</p>
        </div>
        <div class="dom-paragraph dom-paragraph-19" id="dom-elem-30">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Sinalco</p>
        </div>
        <div class="dom-paragraph dom-paragraph-20" id="dom-elem-27">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Tarzan</p>
        </div>
        <div class="dom-paragraph dom-paragraph-21" id="dom-elem-28">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">FEINHEIT</p>
        </div>
        <div class="container-empty-9"></div>
        <div class="dom-paragraph dom-paragraph-22" id="dom-elem-59">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Twitter</p>
        </div>
        <div class="dom-paragraph dom-paragraph-23" id="dom-elem-60">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Soundcloud</p>
        </div>
        <div class="dom-paragraph dom-paragraph-24" id="dom-elem-62">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Website</p>
        </div>
        <div class="dom-paragraph dom-paragraph-25" id="dom-elem-61">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">MySpace</p>
        </div>
        <div class="dom-paragraph dom-paragraph-26" id="dom-elem-63">
          <p class="p-3">
            <br>
          </p>
          <p class="p-3">Youtube</p>
        </div>
      </div>
    </div>
  </body>

</html>
