<!DOCTYPE HTML>
    <html lang="en">
    <head>

    </head>
    <body>

        <div class="socialicons">
            <a href="http://www.facebook.com/stolze.openair" target="_blank">
              <img src="{{ STATIC_URL }}img/Facebook.jpg" />
            </a>
            <a href="https://twitter.com/StolzeOpenair/" target="_blank">
              <img src="{{ STATIC_URL }}img/Twitter.jpg" />
            </a>
            <a href="http://vimeo.com/stolzeopenair" target="_blank">
              <img src="{{ STATIC_URL }}img/Vimeo.jpg" />
            </a>
        </div>
        <div class="mood">
            <img src = "{{ STATIC_URL }}img/Vimeo.jpg">
        </div>
        <div class="title" style= "font-size: 50px;">
            <p>Stolze Openair 2013</p>
            <p>31. Mai & 1. Juni</p>
            <p>Fragen an: mail@stolze-openair.ch</p>
        </div>
    </body>
</html>