body {
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #1C1C1C;
}

h3 {
    display: inline;
    margin-left: 0px;
    padding: 0px 20px 0px 0px;
}

.page {
    position: relative;
    width: 100%;
    max-width: 1011px;
    height: 0 auto;
    padding: 50px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    font-family: terminal_dosismedium;
    font-size: 18px;
}

.headerbg {
    position: fixed;
    margin-top: -60px;
    margin-left: -200px;
    height: 220px;
    max-width: 1511px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
}

.socialicons {
    position: fixed;
    margin-top: 0px;
    left: 73%;    
    z-index: 2;
}

.socialicons img {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: fixed;
    margin-top: -20px;
    left: 50%;
    margin-left: -80px;
    z-index: 2;
    }

.logo img {
    margin-left: auto;
    margin-right: auto;
}

.nav {
    margin-top: 60px;
}

.nav a {
    font-family: terminal_dosislight;
    font-size: 21px;
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
}

.navigationleft {
    position: fixed;
    margin-top: 30px;
    left: 24.7%;
    z-index: 2;
}

.navigationright {
    position: fixed;
    margin-top: 30px;
    left: 59%;
    z-index: 2;
}

.hr1 {
    position: fixed;
    margin-top: 20px;
    left: 15.3%;
    width: 520px;
    z-index: 2;
    background-color: #000000;
}

.show-narrow {
    display: none;
}

.hr2 {
    position: fixed;
    margin-top: 70px;
    left: 15.3%;
    width: 520px;
    z-index: 2;
    background-color: #000000;
}

.hr3 {
    position: fixed;
    margin-top: 20px;
    left: 56%;
    width: 550px;
    z-index: 2;
    background-color: #000000;
}

.hr4 {
    position: fixed;
    margin-top: 70px;
    left: 56%;
    width: 550px;
    z-index: 2;
    background-color: #000000;
}

.hr5 {
    position: absolute;
    height: 100%;
    left: 65%;
}

.hr6 {
    position: relative;
    width: 1011px;
}

.hrnews {
    position: relative;
    width: 99%;
    height: 1px;
    background-color: #00CC99;
}

.mood {
    position: relative;
    padding: 65px 0px 50px 0px;
    width: 100%;
    height: 451;
    left: -13%;
}

.mood img {
    width: 1300px;
    height: 550px;
}

.moodtitle {
    position: absolute;
    margin-top: -550px;
    left: -5%;
    font-size: 73px;
    color: #7f0094;
    text-transform: uppercase;
}

.newsletter {
    position: absolute;
    margin-top: -450px;
    left: 48%;
}

.buttontitle {
    position: absolute;
    margin-top: 30px;
    left: 12%;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg); 
}

.newscircle {
  width: 208px;
  height: 208px;
  border-radius: 104px;
  background-color: #06ddb7;
}

#bands h2 {
    position: relative;
    max-width: 1011px;
    width: 100%;
    padding-top: 20px;
    font-family: terminal_dosisregular;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #06ddb7;
}

#gallery h2 {
    position: relative;
    max-width: 1011px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-family: terminal_dosisregular;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #06ddb7;
}

#sponsor h2 {
    position: relative;
    max-width: 1011px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: terminal_dosisregular;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #06ddb7;
}

#kontakt h2 {
    position: relative;
    max-width: 1011px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: terminal_dosisregular;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #06ddb7;
}

.bandsingle {
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 30px;
    width: 271px;
    height: 181px;
    padding: 10px 10px 0px 10px;        
    background-color: #FFFFFF;
    padding-bottom: 4px; 
}

#navlefticon {
    position: absolute;
    margin-top: 220px;
    margin-left: -6px;
    display: none;
}

#navrighticon {
    position: absolute;
    margin-left: -6px;
    margin-top: 220px;
    display: none;
}

.slider-dots {
    position: relative;
    margin-top: -80px;
    margin-bottom: 100px;
    text-align: center;
}

.dotall {
    position: relative;
    display: inline-block;
    margin-right: -3px;
}

.dot.active {
    opacity: 0.7;
}

.dot {
    position: relative;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 0.3;
    display: inline-block;
    margin-right: 7px;
    box-shadow: inset 0px 0px 4px 4px #000000;
    -webkit-box-shadow: inset 0px 0px 4px 4px #000000;
    cursor: pointer;
}

.galleryall {
    max-width: 940px;
    width: 100%;
    margin-left: 35px;
}

.greybackground {
    position: relative;
    max-width: 830px;
    width: 100%;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 150px;
    background-color: #D3D3D3;
    overflow: hidden;     
}

.greybackground2, .greybackground3 {
    position: absolute;
    max-width: 55px;
    width: 100%;
    height: 320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 150px;
    background-color: #D3D3D3;
    z-index: 1;
    cursor: pointer;
}

.greybackground2 {
    left: 3.6%;
}

.greybackground3 {
    left: 91%;
}

.gallery {
    float: left;
    margin-top: 85px;
    margin-left: 36px;
    padding: 10px 10px 0px 10px;        
    background-color: #FFFFFF;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    text-align: center;
    font-weight: bold;
}

.gallery:nth-child(3n+3) {
    margin-right: 50px;
}


.scroller {
    position: absolute;
    margin-right: 30px;
}

.gallerysingle {
    position: relative;
    float: left;
    margin-top: 85px;
    margin-left: 30px;
    margin-bottom: -50px;
    width: 271px;
    height: 181px;
    padding: 10px 30px 10px 0px;        
    background-color: #FFFFFF;
}


.newstitle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
    font-family:'Rockwell W01', Times, serif;
    color: #30E3C3;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;     
}

.newsshow {
    display: none;
}

.news {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    max-width: 530px;
    width: 100%;
    text-align: center;
}

.newsimage {
    max-width: 530px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.newsimage img {
    position: relative;
    max-width: 530px;
    width: 100%;
    margin-top: 20px;
}

.sponsorbackground {
    overflow: hidden;
}

.sponsor {
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 10px 0px 10px;        
    background-color: #FFFFFF;
    padding-bottom: 4px;
}

.bandinfo {
    padding: 0 70px;
    position: relative;
}

.bandsingleimg {
    position: relative;
    margin-top: 70px;
    margin-left: 70px;
}

.bandsingletext {
    float: left;
    width: 70%;
}

.bandsingleinfo {
    float: left;
    width: 30%;
}

.bandname {
    color: #7ac3bc;
    font-weight: bold;
    text-transform: uppercase;
}

.bandhr {
    border: 2px solid white !important;
    width: 200px;
}


.bandtext {
    color: #000000;
}

.grouper {
    position: relative;
    padding: 35px 0px 0px 43px;
    max-width: 1011px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}

.groupersponsors {
    position: relative;
    margin-left: 35px;
    max-width: 1011px;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
}

.map {
    margin-top: 60px;
    -webkit-filter: grayscale(90%);
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.maptext {
    position: relative;
    margin-top: -490px;
    margin-left: 0px;
    list-style: none;
    max-width: 1011px;
    width: 100%;;
    pointer-events: none;
}

.maptitle {
    color: #00CC99;
    font-size: 50px;
    max-width: 1011px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}

.mapinfo {
    font-size: 35px;
    font-weight: bold;
    max-width: 1011px;
    width: 100%;
    text-transform: uppercase;
}

.mapaddress {
    font-size: 30px;
    max-width: 1011px;
    width: 100%;
    text-transform: uppercase;
}

.mappc {
    font-size: 25px;
    max-width: 1011px;
    width: 100%;
    text-transform: uppercase;
}

.maplinks {
    margin-top: 30px;
    color: #7F0094;
    text-decoration: none;
    font-family: terminal_dosissemibold;
}

.maplinks a {
    margin-right: 40px;
    color: #7F0094;
    text-decoration: none;
    font-family: terminal_dosissemibold;
}

.contacttitle {
    margin-top: 250px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
}

.person {
    margin-top: 35px;
    width: 100%;
    max-width: 1011px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
    color: #06ddb7;
    padding-bottom: 50px;
}

.personsingle {
    float: left;
    margin-right: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 120px;
}

.contactbuttons {
    position: absolute;
    margin-top: 50px;
    left: 80%;
}

.helfer {
    position: absolute;
    margin-top: 35px;
    left: 7%;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);  
    text-decoration: none;
}

.helfercircle {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: 0px;
    left: -40%;
    border-radius: 55px;
    background-color: #03d5b0;
    cursor: pointer;    
}

.goenner {
    position: absolute;
    margin-top: 35px;
    left: 6%;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.goennercircle {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: -60px;
    left: 50%;
    border-radius: 55px;
    background-color: #7f0094;
    cursor: pointer;    
}

.sponsoring {
    position: absolute;
    margin-top: 40px;
    text-align: center;
    left: 7%;
    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.sponsoringcircle {
    position: relative;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    left: 45%;
    border-radius: 65px;
    background-color: #7ac3bc;
    cursor: pointer;    
}

.presse {
    position: absolute;
    margin-top: 30px;
    text-align: center;
    left: 10%;
    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.pressecircle {
    position: relative;
    width: 90px;
    height: 90px;
    margin-top: -180px;
    left: -15%;
    border-radius: 45px;
    background-color: #dadadc;
    cursor: pointer;    
}

.emailtitle {
    margin-top: 80px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.emailsingle {
    float: left;
    margin-right: 100px;
    padding-bottom: 15px;
    width: 340px;
}

.emailsingle a {
    text-decoration: none;
    color: #000000;
}

.hrend {
    position: relative;
    margin-top: 300px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #000000;
}

.mail1, .mail2, .mail3, .mail4 {
    display: none;
}

.mailclose {
    position: relative;
    margin-top: 50px;
    left: 95%;
    cursor: pointer;
}

.mailtitle {
    margin-top: -60px;
    font-size: 25px;
    text-transform: uppercase;
    color: #7AC3BC;
}

.mailtext {
    width: 750px;
    line-height: 1.5;
}

.formular {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    width: 750px;
}

.formfield {
    float: left;
    margin-right: 60px;
    margin-bottom: 30px;
    width: 310px;
}

.button{
    margin-left: 600px;    
    padding: 2px 3px 2px 3px;
    font: 100% terminal_dosisregular, serif; 
    text-align:center; 
    text-decoration:none; 
    color: #D9E7E9;
    background: #7AC3BC;
    -webkit-border-radius: 20px;
    -moz-border-radius:  20px;
    border-radius:  20px;
    text-transform: uppercase;
}

.button:active{     
    color: #1F4A53;
    background: #7AC3BC;
}

input {
    -webkit-box-shadow: inset 0 0 4px  #000,
    -moz-box-shadow: inset 0 0 4px  #000,
    box-shadow: inset 0 0 4px  #000,
    padding: 5px;
    background: #DADADC;
    -webkit-border-radius: 20px;
    -moz-border-radius:  20px;
}


/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,.front,.back {
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front,.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: absolute;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 181px;
    width: 271px;
    text-align: center;
    background-color: #dcdcdc;
}

.back a {
    text-decoration: none;
}

@media only screen and (max-width: 1026px) {
    .hr1 {
        position: fixed;
        margin-top: -35px;
        width: 400px;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .hr2 {
        position: fixed;
        margin-top: 10px;
        width: 400px;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .hr3 {
        position: fixed;
        margin-top: -15px;
        margin-left: 50px;
        left: 53.5%;
        width: 400px;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .hr4 {
        position: fixed;
        margin-top: 13px;
        margin-left: 50px;
        left: 53.5%;
        width: 400px;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .socialicons {
        position: fixed;
        margin-top: -20px;
        left: 70%;
        width: 100%;
        z-index: 1;
    }

    .socialicons img {
        margin-left: auto;
        margin-right: auto;
    }
}  


@media only screen and (max-width: 993px) {
    .bandsingleall {
        position: relative;
        left: 50%;
        margin-left: -344px;
        width: 100%;
    }

   .hr1 {
        position: fixed;
        margin-top: -35px;
        margin-left: -8px;
        width: 100%;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .hr2 {
        position: fixed;
        margin-top: 10px;
        margin-left: -8px;
        width: 100%;
        z-index: 1;
        background-color: #FFFFFF;
    }

    .show-narrow {
        display: inline;
    }

    .navigationleft {
        text-align: center;
        margin-left: 15px;
        width: 100%;
    }

    .nav {
        margin-top: 160px;
    }

    .navigationright {
        display: none;
    }

    .headerbg {
        position: fixed;
        margin-top: -60px;
        height: 230px;
        max-width: 1011px;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 1;
    }

    .mood {
        position: relative;
        padding: 15px 0px 50px 0px;
        width: 100%;
        height: 451px;
}

}  

@media only screen and (max-width: 667px) {

    .bandsingleall {
        position: relative;
        left: 50%;
        margin-left: -181px;
        width: 100%;
    }

    h3 {
        display: inline;
        margin-left: 0px;
        padding: 0px 10px 0px 0px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 613px) {
    
    h3 {
        display: inline;
        margin-left: 0px;
        padding: 0px 10px 0px 0px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 530px) {
    
    h3 {
        display: inline;
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
        font-size: 15px;
    }

    .navigationleft {
        margin-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 482px) {
    
    h3 {
        display: inline-block;
        margin-left: 5px;
        margin-top: -10px;
        height: 1px;    
        font-size: 10px;
        font-weight: bolder;
        text-align: center;
    }

    .navigationleft {
        margin-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 323px) {

    .bandsingle img {
        width: 100%;
    }

    .bandsingleall img {
        position: relative;
        width: 100%;
    }

    .bandsingleall img {
        position: relative;
        width: 100%;
    }
}