html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font-family: terminal_dosismedium, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.page {
    position: relative;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    font-size: 18px;
}

.regiongrey, .regiongreyg {
    width: 100%;
    max-width: 1300px;
    -webkit-box-shadow: 0px 7px 6px -3px grey;
    -moz-box-shadow: 0px 7px 6px -3px grey;
    box-shadow: 0px 9px 6px -3px grey;
    background-color: #dcdcdc;
}

.regiongrey#news {
}

.regiongrey {
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
}

.regiongreyg {
    height: 588px;
    margin-top: -78px;
}

.regionwhite {
    position: relative;
    width: 99.9%;
    max-width: 1300px;
    -webkit-box-shadow: 0px 7px 6px -3px grey;
    -moz-box-shadow: 0px 7px 6px -3px grey;
    box-shadow: 0px 9px 6px -3px grey;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    z-index: 4;
}

.regionwhitenone {
    position: relative;
    width: 99.9%;
    max-width: 1300px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    z-index: 4;
}

.socialicons {
    position: absolute;
    margin-top: 7px;
    right: 3%;
    z-index: 2;
}

.socialicons a {
    text-decoration: none;
}

.headerbg {
    position: fixed;
    margin-left: -2px;
    height: 140px;
    max-width: 1310px;
    width: 101%;
    background-color: #FFFFFF;
    z-index: 9;
}

.logo {
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -63px;
    max-width: 100px;
    width: 122%;
}

.logo img {
    max-width: 161px;
    width: 125%;
}

.navigation {
    margin-top: 20px;
    width: 100px;
}

.navigation a {
    font-family: terminal_dosismedium;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
    margin-left: 66px;
}

.navigationleft, .navigationright {
    position: absolute;
    width: 39%;
}

.navigationleft a {
    left: 50%;
}

.navigationright {
    left: 60%;
    top: -3px;
}

.navhidden {
    display: none;
}

.navresponsive {
    margin-top: 14px;
    width: 800px;
}

.hrlefttop, .hrleftdown, .hrrighttop, .hrrightdown {
    position: absolute;
    width: 100%;
    background-color: #000000;
}

.hrrighttop {
    position: relative;
    bottom: -23px;
}

.navtoggleup {
    display: none;
    padding-left: 10px;
    cursor: pointer;
}

.navtoggleup img {
    width: 25px;
    height: 25px;
    margin-left: -100px;
}


.navtoggledown {
    display: none;
    padding-left: 10px;
    cursor: pointer;
}

.navtoggledown img {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: -100px;
}


.mood {
    position: relative;
    top: 151px;
    width: 1300px;
    z-index: 2;
    /*margin-bottom: 255px;*/
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.mood img {
    height: 450px;
    width: 1300px;
    -webkit-box-shadow: 0px 7px 6px -3px grey;
    -moz-box-shadow: 0px 7px 6px -3px grey;
    box-shadow: 0px 9px 6px -3px grey;
}

.moodtitle {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 70px;
    font-family: terminal_dosissemibold;
    text-align: center;
    text-transform: uppercase;
    line-height: 75px;
    color: #7f0094;
}

.newsletter {
    position: absolute;
    top: 24%;
    left: 48%;
    width: 91px;
    height: 91px;
    display: none;
}

.buttontitle {
    position: absolute;
    margin-top: 40px;
    margin-left: 17px;
    line-height: 1.1;
    letter-spacing: 2px;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg); 
}

.newscircle {
    width: 230%;
    height: 230%;
    border-radius: 50%;
    background-color: #06ddb7;
}

.newsbackground {
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin-top: -100px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #dcdcdc;
    z-index: 1;
}

.newsscroller {
    overflow: hidden;
    margin-top: 90px;
}

.newsonly {
    float: left;
    width: 750px;
}

.newstitle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 750px;
    font-family:'Rockwell W01';
    color: #06DDB7;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 75px;
    text-align: center;
    cursor: pointer;     
}

.mehrinfos {
    font-size: 25px;
    color: #06DDB7;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.news {
    position: relative;
    max-width: 550px;
    height: auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newsimage {
    text-align: center;
}

.newsimage img {
    max-width: 530px;
    max-height: 350px;
    width: 100%;
}

.newsshow {
    display: none;
}

.slider-newsdots {
    position: absolute;
    margin-top: -150px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    z-index: 8;
}

.newsdotall {
    position: relative;
    display: inline-block;
    margin-right: -3px;
}

.newsdot.active {
    opacity: 0.7;
}

.newsdot {
    position: relative;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 0.3;
    display: inline-block;
    margin-right: 7px;
    box-shadow: inset 0px 0px 4px 4px #000000;
    -webkit-box-shadow: inset 0px 0px 4px 4px #000000;
    cursor: pointer;
}

.hrnews {
    margin-top: 5px;
    margin-bottom: -15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    position: relative;
    top: -50px;
}

#sponsor {
    position: relative;
    top: -106px;
}

#kontakt {
    margin-top: -85px;
}

#bands h2, #gallery h2, #sponsor h2, #kontakt h2 {
    position: relative;
    max-width: 1011px;
    width: 20%;
    padding: 10px 0px 25px 0px;
    font-family: terminal_dosismedium;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    color: #06ddb7;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

#bands h2 {
    margin-top: -50px;
    width: 180px;
    background-color: #FFFFFF;    
}

#gallery h2 {
    width: 200px;
    background-color: #DCDCDC;
    z-index: 5;
}

#sponsor h2 {
    margin-top: 30px;
    margin-bottom: -10px;
    width: 220px;
    background-color: #FFFFFF;
}

#kontakt h2 {
    width: 200px;
    background-color: #F1F0EF;
    z-index: 4;
}

.bandsingleall {
    margin-top: -50px;
    margin-left: 11%;
    margin-bottom: 50px;
}

.bandsingle {
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 30px;
    width: 271px;
    height: 181px;
    padding: 10px 10px 0px 10px;        
    background-color: #FFFFFF;
    padding-bottom: 4px; 
}

.bandname {
    margin-top: 25px;
    color: #06ddb7;
    font-weight: bold;
    text-transform: uppercase;
}

.bandname a, .bandhr a, .bandtext a, .back a {
    text-decoration: none;
}

.bandhr {
    margin-top: 5px;
    margin-left: 35px;
    border: 1px solid white;
    width: 200px;
}


.bandtext {
    margin-top: -5px;
    color: #000000;
}

#navlefticon {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    display: none;
}

#navrighticon {
    position: absolute;
    margin-left: -6px;
    margin-top: 0px;
    display: none;
}

#navlefticon2 {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    display: none;
}

#navrighticon2 {
    position: absolute;
    margin-left: -6px;
    margin-top: 0px;
    display: none;
}

.slider-dots {
    position: absolute;
    margin-top: -115px;
    left: 51%;
    margin-left: -70px;
    text-align: center;
    z-index: 8;
}

.dotall {
    position: relative;
    display: inline-block;
    margin-right: -3px;
}

.dot.active {
    opacity: 0.7;
}

.dot {
    position: relative;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 0.3;
    display: inline-block;
    margin-right: 7px;
    box-shadow: inset 0px 0px 4px 4px #000000;
    -webkit-box-shadow: inset 0px 0px 4px 4px #000000;
    cursor: pointer;
}

.galleryall {
    width: 100%;
    margin-top: -100px;
}

.greybackground {
    position: relative;
    max-width: 1300px;
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    padding-bottom: 150px;
    overflow: hidden;
    z-index: 1;
}

.greybackground2, .greybackground3 {
    position: absolute;
    max-width: 55px;
    width: 100%;
    height: 378px;
    margin-top: -112px;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 150px;
    background-color: #dcdcdc;
    z-index: 2;
    cursor: pointer;
}

.greybackground2 {
    float: left;
    left: 0;
}

.greybackground3 {
    float: right;
    right: 0px;
}

.greybackground4, .greybackground5 {
    position: absolute;
    max-width: 55px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #dcdcdc;
    z-index: 2;
    cursor: pointer;
}

.greybackground4 {
    float: left;
    left: 0;
}

.greybackground5 {
    float: right;
    right: 0px;
}

.gallery {
    float: left;
    margin-top: 85px;
    margin-right: 150px;
    text-align: center;
    font-weight: bold;
}

.gallery img {
    max-width: 872px;
    max-height: 379px;
    width: 100%;
}

.galleryyear {
    margin-bottom: -10px;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #06ddb7;
}

.scroller {
    position: absolute;
}

.grouper {
    position: relative;
    padding: 83px 0px 0px 42px;
    max-width: 350px;
    width: 100%;
    font-size: 25px;
    font-family: terminal_dosismedium;
    font-weight: normal;
    text-transform: uppercase;
}

.groupersponsors {
    position: relative;
    margin-left: 35px;
    max-width: 1011px;
    width: 50%;
    font-size: 25px;
    text-transform: uppercase;
}

.sponsorbackground {
    overflow: hidden;
}

.sponsor, .sponsorks {
    position: relative;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px 10px 0px 10px;        
    background-color: #FFFFFF;
    padding-bottom: 4px;
    display: block;
    float: left;
}

.sponsorouter {
    position: relative;
    max-width: 1300px;
    width: 100%;
    overflow: hidden;
}

.sponsorinner {
    position: relative;
    left: 0px;
    background: #FFFFFF;
}

.map {
    position: absolute;
    margin-top: -50px;
    -webkit-filter: grayscale(90%);
    width: 100%;
    height: 451px;
    opacity: 0.6;
}

.maptext {
    position: relative;
    margin-top: 0px;
    margin-left: 90px;
    list-style: none;
    max-width: 1011px;
    width: 75%;
    pointer-events: none;
}

.maptitle {
    color: #00CC99;
    font-size: 50px;
    max-width: 1011px;
    font-family: terminal_dosissemibold;
    width: 100%;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.mapinfo {
    font-size: 35px;
    max-width: 1011px;
    width: 100%;
    font-family: terminal_dosissemibold;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.mapaddress {
    font-size: 35px;
    font-family: terminal_dosisregular;
    max-width: 1011px;
    padding-bottom: 10px;
    width: 100%;
}

.mapmail {
    font-size: 35px;
    max-width: 1011px;
    width: 100%;
    padding-bottom: 20px;
    font-family: terminal_dosissemibold;
}

.mappc {
    font-size: 25px;
    max-width: 1011px;
    width: 100%;
    font-family: terminal_dosisregular;
    text-transform: uppercase;
}

.maplinks {
    margin-top: 175px;
    margin-left: 20px;
    margin-bottom: -200px;
    color: #7F0094;
    text-decoration: none;
    font-family: terminal_dosissemibold;
}

.maplinks a {
    margin-right: 40px;
    color: #7F0094;
    text-decoration: none;
    font-family: terminal_dosissemibold;
}

.contacttitle {
    margin-top: 250px;
    margin-left: 20px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
}

.teamimg {
    text-align: center;
}

.teamimg img {
    max-width: 913px;
    width: 100%;
}

.person {
    margin-top: 35px;
    margin-left: 20px;
    width: auto;
    max-width: 1300px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
    color: #06ddb7;
    padding-bottom: 50px;
}

.person a {
    text-decoration: none;
    color: #06ddb7;
}

.personsingle {
    float: left;
    margin-right: 48px;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 120px;
}

.contactbuttons {
    position: absolute;
    margin-top: -40px;
    left: 77%;
}

.helfer {
    position: absolute;
    margin-top: 35px;
    left: 7%;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);  
    text-decoration: none;
}

.helfercircle {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: 0px;
    left: -40%;
    border-radius: 55px;
    background-color: #03d5b0;
    cursor: pointer;    
}

.goenner {
    position: absolute;
    margin-top: 35px;
    left: 6%;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.goennercircle {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: -60px;
    left: 50%;
    border-radius: 55px;
    background-color: #7f0094;
    cursor: pointer;    
}

.sponsoring {
    position: absolute;
    margin-top: 50px;
    text-align: center;
    left: 6%;
    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.sponsoringcircle {
    position: relative;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    left: 45%;
    border-radius: 65px;
    text-align: center;
    background-color: #7ac3bc;
    cursor: pointer;    
}

.presse {
    position: absolute;
    margin-top: 30px;
    text-align: center;
    left: 10%;
    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.presse a {
    text-decoration: none;
}

.pressecircle a {
    text-decoration: none;
}

.pressecircle {
    position: relative;
    width: 90px;
    height: 90px;
    margin-top: -180px;
    left: -15%;
    border-radius: 45px;
    background-color: #dcdcdc;
    cursor: pointer;    
}

.newslettertext {
    position: absolute;
    margin-top: 28px;
    left: 10%;
    font-size: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 43px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    text-decoration: none;
}

.newslettercircle {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    left: -60%;
    border-radius: 75px;
    background-color: #7F0094;
    cursor: pointer;    
}

.emailtitle {
    margin-left: 20px;
    font-family: terminal_dosismedium;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.emailall {
    margin-left: 20px;
}

.emailsingle {
    float: left;
    margin-right: 100px;
    padding-bottom: 15px;
    width: 340px;
}

.onlycategory {
    display: inline-block;
    text-transform: uppercase;
}

.emailsingle a {
    text-decoration: none;
    color: #000000;
}

.hrend {
    position: relative;
    margin-top: 300px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1300px;
    background-color: #000000;
}

#helfer-form, #goenner-form, #newsletter-form, #sponsoring-form {
    display: none;
    margin-left: 20px;
}

.mailclose {
    position: absolute;
    margin-top: 0px;
    left: 80%;
    cursor: pointer;
}

.mailtitle {
    margin-top: 60px;
    font-size: 25px;
    color: #06DDB7;
    text-transform: uppercase;
}

.mailtext {
    margin-bottom: 40px;
    max-width: 750px;
    height: auto;
    width: 100%;
    line-height: 1.5;
}

.formular {
    float: left;
    max-width: 1011px;
    width: 100%;
    text-transform: uppercase;
}

.formfield {
    float: left;
    margin-bottom: 25px;
    width: 400px;
}

.button{
    margin-left: 625px;    
    padding: 0px 10px 0px 10px;
    font: 100% terminal_dosissemibold, serif; 
    text-align:center; 
    text-decoration:none; 
    color: #FFFFFF;
    background: #7AC3BC;
    text-transform: uppercase;
}

.button:active{     
    color: #1F4A53;
    background: #06ddb7;
}

label {
    width: 120px;
    margin-right: 10px;
    display: inline-block;
}

.formfield input {
    width: 170px;
    padding: 3px;
    font-size: 80%;
    border: none;
    background: #DADADC;
    border-radius:  20px;
    -webkit-border-radius: 20px;
    -moz-border-radius:  20px;
    -o-border-radius:  20px;
    -ms-border-radius:  20px;
}

.helfercomment, .goennercomment {
    margin-top: 10px;
    border: none;
    background: #DADADC;
    border-radius:  20px;
    -webkit-border-radius: 20px;
    -moz-border-radius:  20px;
}

.submit input {
    width: 85px;
    padding: 0px;
    border: none;
    background: #7AC3BC;
    -webkit-border-radius: 20px;
    -moz-border-radius:  20px;    
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,.front,.back {
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    text-decoration: none;
}

.flipper a {
    text-decoration: none;
}

/* hide back of pane during swap */
.front,.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: absolute;
    text-decoration: none;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 181px;
    width: 271px;
    text-align: center;
    background-color: #dcdcdc;
}

.back a {
    text-decoration: none;
}

.bandinfo {
    padding: 0 70px;
    position: relative;
    left: -70px;
    width: 100%;
}

#bandsingleimg {
    position: relative;
    margin-top: 70px;
}

#bandsingleimg img {
    max-width: 100%;
    width: 923px;
}

.bandsingletext {
    float: left;
    width: 68%;
}

.bandsingleinfo {
    float: left;
    width: 27%;
    margin-top: 50px;
}

.bandname {
    margin-top: 25px;
    color: #06ddb7;
    font-weight: bold;
    text-transform: uppercase;
}

.bandhr {
    margin-top: 5px;
    border: 1px solid white;
    width: 200px;
}

.hrvertical {
    position: absolute;
    float: left;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    width: 1px;
    margin-top: -25px;
}

.bandtext {
    margin-top: -5px;
    color: #000000;
}

.bandclose {
    position: relative;
    float: right;
    margin-top: -5px;
    margin-right: 4px;
    cursor: pointer;
    z-index: 10;
}

.innerband {
    margin-left: 20px;
    width: 100%;
}

#ajaxbands {
    position: relative; 
    margin-left: 45px;
    width: 84%;
}

#ajaxgallery {
    position: relative;
    display: block;
    max-width: 1300px;
    width: 77%;
    left: 12%;
    margin-bottom: 200px;
}

.galleryclose {
    position: absolute;
    float: right;
    right: 0%;
    cursor: pointer;
}

.gallerysingle {
    position: relative;
    float: left;
    margin-top: 85px;
    margin-left: 30px;
    margin-bottom: -50px;
    width: 271px;
    height: 181px;
    padding: 10px 30px 10px 0px;        
    background-color: #FFFFFF;
}

.festivalchoice, .bandchoice {
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.festivalchoice {
    position: relative;
    left: 29%;
}

.bandchoice {
    position: relative;
    left: 3%;
    color: #06ddb7;
}

.categoryfestival {
    position: relative;
    top: -100px;
    display: none;
}

.categorybands {
    position: relative;
    top: -100px;
}

.bandfb, .bandms, .bandyt, .bandsc, .bandwb, .bandtt {
    float: left;
    width: 40px;
    display: inline-block;
}

.bandfb img, .bandms img, .bandyt img, .bandsc img, .bandwb img, .bandtt img {
    width: 25px;
}

.bandlinks {
    margin-left: 20px;
    width: auto;
}

@media only screen and (max-width: 1320px) {

    .map {
        margin-left: -10px;
    }
}

@media only screen and (max-width: 1300px) {
    
    .navigation a {
        margin-left: 45px;
    }

}

@media only screen and (max-width: 1295px) {
    
    #ajaxgallery {
        width: 88%;
        left: 11%;
    }

}

@media only screen and (max-width: 1207px) {
    
    .bandsingleall {
        margin-left: 19%;
    }

    #ajaxbands {
        left: -135px;
    }

    .innerband {
        width: 100%;
    }

}

@media only screen and (max-width: 1200px) {

    .maplinks {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1182px) {

    #ajaxgallery {
        left: 7%;
    }
}

@media only screen and (max-width: 1130px) {

    .maplinks {
        margin-top: 100px;
    }

    #ajaxgallery {
        width: 89%;
    }

}

@media only screen and (max-width: 1117px) {
    
    #ajaxgallery {
        width: 70%;
        left: 21%;
    }

    .festivalchoice {
        position: absolute;
        left: 25%;
    }

    .bandchoice {
        left: 4%;
    }

}

@media only screen and (max-width: 1065px) {
    
    .navigation a {
        margin-left: 35px;
    }

}

@media only screen and (max-width: 1045px) {
    
    .emailsingle {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1038px) {
    
    #ajaxbands {
        left: -180px;
    }
}


@media only screen and (max-width: 1014px) {

    .maplinks {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 995px) {
    .sponsor {
        margin-right: 0px;
    }

    #ajaxgallery {
        left: 15%;
        width: 81%;
    }

}   

@media only screen and (max-width: 990px) {
    
    .emailsingle {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 978px) {

    .bandsingleall {
        position: relative;
        left: 48%;
        margin-left: -350px;        
        width: 700px;
    }

    #ajaxbands {
        left: -130px;
    }
}


@media only screen and (max-width: 948px) {

    .maplinks {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 944px) {

    .maptext {
        top: -35px;
        left: -20px;
        line-height: 1.2;
    }
    
    .maptitle {
        font-size: 45px;
    }

    .mapinfo, .mapaddress, .mapmail {
        font-size: 30px;
    }

    .mappc {
        font-size: 20px;
    }
}

@media only screen and (max-width: 923px) {

    .bandsingleimg img {
        max-width: 923px;
        width: 100%; 
    }

    #ajaxbands {
        left: 0px;
    }
}

@media only screen and (max-width: 915px) {
    
    .sponsor {
        margin-right: 50px;
    }

    .headerbg {
        height: 164px;
    }

    .navigation {
        margin-top: 85px;
    }

    .navhidden {
        display: inline;
    }

    .navigationright {
        display: none;
    }

    .hrlefttop {
        width: 915px;
    }

    .hrleftdown {
        margin-top: 11px;
        width: 915px;
    }

    .mood {
        top: 165px;
    }

    .slider-newsdots {
        margin-top: -90px;
    }

    .navigation a {
        margin-left: 65px;
    }

    #bands h2 {
        margin-top: -55px;
    }

    .regiongrey {
        margin-top: 10px;
    }

    .logo img {
        width: 90px;
    }

    .navresponsive {
        margin-top: 7px;
    }

}

@media only screen and (max-width: 904px) {
    .emailsingle {
        margin-right: 109px;
    }
}

@media only screen and (max-width: 881px) {
    
    .newstitle {
        font-size: 60px;
        line-height: 60px;
    }
}


@media only screen and (max-width: 845px) {
    
    .newstitle {
        font-size: 60px;
    }
}

@media only screen and (max-width: 838px) {
    

    .contactbuttons {
        margin-top: -10px;
        left: 57%;
    }
}

@media only screen and (max-width: 834px) {

    .sponsor {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 808px) {

    #ajaxgallery {
        width: 85%;
        left: 8%;
    }
}

@media only screen and (max-width: 803px) {

    .navigation a {
        margin-left: 53px;
    }
}

@media only screen and (max-width: 800px) {

    .maplinks {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 781px) {

    #ajaxgallery {
        left: 5%;
        width: 94%;
    }

    .onlycategory {
        display: block;
    }
}

@media only screen and (max-width: 755px) {
    
    .newstitle {
        font-size: 55px;
    }
}

@media only screen and (max-width: 738px) {

    .navigation a {
        margin-left: 43px;
    }

    .helfercomment, .goennercomment {
        width: 150%;
    }

    .submit input {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 726px) {

    .formfield {
        width: 320px;
    }

    .button {
        margin-left: 224px;
    }
}

@media only screen and (max-width: 709px) {
    
    .bandsingleall {
        width: 77%;
    }

    #ajaxbands {
        left: -115px;
        width: 100%;
    }
}

@media only screen and (max-width: 704px) {
    
    #ajaxgallery {
        left: 25%;
        width: 70%;
    }

    .festivalchoice {
        position: absolute;
        left: 41%;
    }

    .bandchoice {
        left: 12%;
    }
}


@media only screen and (max-width: 700px) {
    
    .newstitle {
        font-size: 45px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 688px) {

    .navigation a {
        margin-left: 35px;
    }

    .sponsor {
        margin-right: 35px;
    }
}

@media only screen and (max-width: 679px) {

   /* .contactbuttons {
        margin-top: 155px;

    }

    .helfercircle {
        position: absolute;
        width: 110px;
        height: 110px;
        margin-top: -64px;
        margin-left: 20px;
        border-radius: 55px;
    }

    .goennercircle {
        position: absolute;
        width: 110px;
        height: 110px;
        margin-top: 50px;
        margin-left: 25px;
        border-radius: 55px;
    }

    .sponsoringcircle {
        position: absolute;
        width: 130px;
        height: 130px;
        margin-left: 20px;
        margin-top: 166px;
        border-radius: 65px;
    }

    .pressecircle {
        position: absolute;
        width: 90px;
        height: 90px;
        margin-top: -158px;
        margin-left: 24px;
        border-radius: 45px;
    }*/

}


@media only screen and (max-width: 709px) {

    .bandsingleall {
        position: relative;
        left: 50%;
        margin-left: -190px;
        width: 77%;
    }
}

@media only screen and (max-width: 668px) {
    
    .maptext {
        line-height: 0.9;
    }

    .maptitle {
        font-size: 40px;
    }

    .mapinfo, .mapaddress, .mapmail {
        font-size: 25px;
    }

    .mappc {
        font-size: 15px;
    }
}

@media only screen and (max-width: 660px) {

    .headerbg {
        height: 139px;
    }

    .navigation {
        margin-top: 60px;
    }

    .logo {
        margin-left: -30px;
    }

    .logo img {
        width: 70%;
    }

    .mood {
        top: 140px;
    }

    #bands h2 {
        margin-top: -50px;
    }

    .regiongrey {
        margin-top: -115px;
    }

    .slider-newsdots {
        margin-top: -130px;
    }

    #ajaxbands {
        left: -90px;
    }
}

@media only screen and (max-width: 648px) {

    .navigation a {
        margin-left: 28px;
    }
}

@media only screen and (max-width: 640px) {

    #ajaxbands {
        left: -85px;
        width: 103%;
    }
}

@media only screen and (max-width: 613px) {

    .navigation a {
        font-size: 20px;
        margin-left: 40px;
    }

    .mood {
        top: 132px;
    }

    .headerbg {
        height: 132px;
    }

    #bands h2 {
        margin-top: -50px;
    }

    .regiongrey {
        margin-top: -125px;
    }

}

@media only screen and (max-width: 600px) {
    
    .newstitle {
        font-size: 35px;
        max-width: 500px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 584px) {
    
    #ajaxgallery {
        left: 20%;
    }
}

@media only screen and (max-width: 569px) {

    .navigation a {
        font-size: 20px;
        margin-left: 32px;
    }
}

@media only screen and (max-width: 541px) {

    .emailsingle {
        font-size: 12px;
        width: 238px;
    }

    .mailclose {
        margin-top: -40px;
    }
}

@media only screen and (max-width: 530px) {

    .navigationleft {
        margin-left: 0px;
        width: 100%;
    }

    .sponsor {
        margin-right: -25px;
    }

}

@media only screen and (max-width: 529px) {

    .navigation a {
        font-size: 20px;
        margin-left: 27px;
    }
}

@media only screen and (max-width: 515px) {
    
    .newstitle {
        font-size: 30px;
        max-width: 500px;
        line-height: 35px;
    }

    .helfercomment, .goennercomment {
        width: 100%;
    }
}

@media only screen and (max-width: 504px) {

    .maplinks a {
        display: block;
    }

    .navigation a {
        font-size: 20px;
        margin-left: 22px;
    }

    #bands h2 {
        margin-top: -70px;
    }
}

@media only screen and (max-width: 498px) {
    
    .maptext {
        line-height: 0.9;
        left: -50px;
    }

    .maptitle {
        font-size: 30px;
    }

    .mapinfo, .mapaddress, .mapmail {
        font-size: 20px;
    }

    .mappc {
        font-size: 15px;
    }

    #ajaxbands {
        left: -60px;
    }

    #ajaxgallery {
        left: 15%;
    }
}

@media only screen and (max-width: 482px) {

    .navigationleft {
        margin-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 479px) {

    .navigation a {
        font-size: 19px;
        margin-left: 22px;
    }

    .headerbg {
        height: 130px;
    }
}

@media only screen and (max-width: 460px) {

    .navigation a {
        font-size: 19px;
        margin-left: 18px;
    }

    .mood {
        top: 130px;
    }
}

@media only screen and (max-width: 446px) {
    
    .maptext {
        line-height: 0.7;
        left: -50px;
    }

    .maptitle {
        font-size: 25px;
    }

    .mapinfo, .mapaddress, .mapmail {
        font-size: 15px;
    }

    .mappc {
        font-size: 12px;
    }
}

@media only screen and (max-width: 441px) {

    .emailsingle {
        font-size: 12px;
        width: 238px;
    }

    .contactbuttons {
        margin-top: 80px;
        left: 53%;
    }

    .hrend {
        margin-top: 380px;
    }

    .sponsor img {
        width: 110px;
    }
}

@media only screen and (max-width: 440px) {

    .navigation a {
        font-size: 18px;
        margin-left: 18px;
    }
}

@media only screen and (max-width: 425px) {

    #bands h2 {
        margin-top: -95px;
    }

    .contactbuttons {
        left: 68%;
    }

    .helfercircle {
        width: 80px;
        height: 80px;
        margin-top: -78px;
        left: -40%;
    }

    .helfer {
        margin-top: 28px;
        left: 13%;
        font-size: 20px;
    }

    .goennercircle {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        left: -40%;
    }

    .goenner {
        margin-top: 29px;
        left: 9%;
        font-size: 20px;
    }

    .sponsoringcircle {
        width: 80px;
        height: 80px;
        margin-top: 92px;
        left: -36%;
    }

    .sponsoring {
        margin-top: 33px;
        left: 9%;
        font-size: 13px;
    }

    .pressecircle {
        width: 80px;
        height: 80px;
        margin-top: -165px;
        left: -38%;
    }

    .presse {
        margin-top: 30px;
        text-align: center;
        left: 12%;
        font-size: 20px;
    }

    .newslettercircle {
        width: 80px;
        height: 80px;
        margin-top: 94px;
        left: -35%;
    }

    .newslettertext {
        margin-top: 17px;
        left: 13%;
        line-height: 22px;
        font-size: 20px;
    }

    #ajaxgallery {
        left: 10%;
    }
}

@media only screen and (max-width: 420px) {

    .navigation a {
        font-size: 16px;
        margin-left: 18px;
    }

    #ajaxbands {
        left: -40px;
        width: 114%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {

    .navigation a {
        font-size: 16px;
        margin-left: 14px;
    }

    #ajaxbands {
        left: -40px;
    }

    #ajaxgallery {
        left: 7%;
    }
}

@media only screen and (max-width: 381px) {

    .maplinks {
        margin-top: 0px;
    }

}

@media only screen and (max-width: 376px) {

    #ajaxbands {
        left: -17px;
    }

}

@media only screen and (max-width: 370px) {

    .navigation a {
        font-size: 15px;
        margin-left: 14px;
    }
}

@media only screen and (max-width: 357px) {

    .socialicons img {
        width: 14px;
    }

    .navtoggleup {
        position: relative;
        display: none;
        margin-left: 100px;
    }

    .navtoggledown {
        position: relative;
        display: inline-block;
        margin-left: 100px;
    }

    .navigation {
        margin-top: 33px;
    }

    .navigation a {
        display: none;
        margin-left: 60px;
    }

    .navresponsive {
        margin-top: -22px;
    }

    .hrleftdown {
        margin-top: 6px;
    }

    .headerbg {
        height: 175px;
    }

    .logo {
        position: absolute;
        top: 1%;
        left: 50%;
        margin-left: -25px;
        max-width: 65px;
        width: 122%;
    }

    .socialicons {
        width: 26%;
        right: 0%;
    }

    .mood {
        top: 119px;
    }

    .regiongrey {
        margin-top: -136px;
    }

    #bands h2 {
        margin-top: -120px;
    }

    #ajaxgallery {
        left: 3%;
    }
}

@media only screen and (max-width: 353px) {
    
    .maptext {
        line-height: 0.5;
        left: -50px;
    }

    .maptitle {
        font-size: 20px;
    }

    .mapinfo, .mapaddress, .mapmail {
        font-size: 12px;
    }

    .mappc {
        font-size: 10px;
    }

    .helfercomment, .goennercomment {
        width: 75%;
    }
}

@media only screen and (max-width: 340px) {

    #ajaxbands {
        left: -5px;
    }
}

@media only screen and (max-width: 336px) {

    .personsingle {
        margin-right: -45px;
        font-size: 15px;
    }

    .formfield {
        width: 270px;
    }

    #ajaxgallery {
        left: -1%;
    }

    .galleryyear {
        margin-left: 5px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 323px) {

    .bandsingle img {
        width: 100%;
    }

    .bandsingleall img {
        position: relative;
        width: 100%;
    }

    .bandsingleall img {
        position: relative;
        width: 100%;
    }

    label {
        display: block;
    }

    .button {
        margin-left: 88px;
    }

    #ajaxbands {
        left: 5px;
    }

    .bandfb img, .bandms img, .bandyt img, .bandsc img, .bandwb img, .bandtt img {
        width: 25px;
    }
}

@media only screen and (max-width: 310px) {

    #ajaxgallery {
        left: -4%;
        width: 100%;
    }
}

@media only screen and (max-width: 294px) {

    .bandsingleall {
        position: relative;
        left: 50%;
        margin-left: -140px;
        width: 100%;
    }

    .bandsingle {
        margin-left: 25px;
    }

    .bandsingle img {
        max-width: 190px;
        width: 100%;
    }

    .sponsor {
        position: relative;
        float: left;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 10px 10px 0px 10px;        
        background-color: #FFFFFF;
        padding-bottom: 4px;
    }

    .sponsor img {
        width: 100px;
    }

    .back {
        text-decoration: none;
        width: 190px;
        height: 127px;
        font-size: 15px;
        margin-left: 80px;
}

    .groupersponsors {
        position: relative;
        margin-left: 10px;
        font-size: 23px;
        text-transform: uppercase;
    }

    #bands h2 {
        margin-top: -148px;
    }
}


@media only screen and (max-width: 221px) {

    .maplinks {
        margin-right: 0px;
        font-size: 14px;
    }
}