            body {
                background: #000000;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: #1C1C1C;
            }

            h3 {
                display: inline;
                margin-left: 0px;
                padding: 0px 20px 0px 0px;
            }

            .page {
                position: relative;
                width: 1011px;
                height: 0 auto;
                padding: 50px 0px 20px 0px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                background-color: #FFFFFF;
            }

            .social {
                position: absolute;
                margin-top: -20px;
                margin-left: 880px;
            }

            .logo {
                position: relative;
                width: 161px;
                margin-top: -30px;
                margin-left: auto;
                margin-right: auto;
                }

            .nav {
                margin-top: -70px;
            }

            .navigationleft {
                position: relative;
                margin-top: 0px;
                margin-left: 40px;
                padding: 0px 0px 0px 0px;
            }

            .navigationright {
                position: relative;
                margin-top: -35px;
                margin-left: 750px;
            }

            .mood {
                position: relative;
                padding: 35px 0px 50px 0px;
            }

            .circlebutton {
                position: absolute;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-top: -103px;
                margin-left: 458px;
                background-color: #4169E1
            }

            .circlebutton2 {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-top: 0px;
                margin-left: 458px;
                background-color: #4169E1
            }

            .circlebutton3 {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-top: -50px;
                margin-left: 458px;
                background-color: #4169E1
            }

            .buttonband {
                position: absolute;
                margin-top: 20px;
                margin-left: 14px;
                color: #FFFFFF;
            }

            .buttongallery {
                position: absolute;
                margin-top: 20px;
                margin-left: 4px;
                color: #FFFFFF;
            }

            .buttonsponsors {
                position: absolute;
                margin-top: 10px;
                margin-left: 13px;
                color: #FFFFFF;                
            }

            .bandsingle {
                position: relative;
                float: left;
                margin-top: 20px;
                margin-left: 35px;
                margin-bottom: 10px;
                width: 271px;
                height: 181px;
                padding: 10px 10px 0px 10px;        
                background-color: #FFFFFF;
                padding-bottom: 4px; 
            }

            .gallerybg {
                margin-top: -50px;
                width: 1011px;
                height: 520px;
                background-color: #D3D3D3;
            }

            .gallery {
                position: relative;
                float: left;
                margin-top: 85px;
                margin-left: 88px;
                width: 200px;
                height: 300px;
                padding: 10px 10px 0px 10px;        
                background-color: #FFFFFF;
            }

            .news {
                position: relative;
                margin-left: 20px;
                padding: 50px 50px 50px 50px;
                width: 960px;
                outline: 4px solid black; 
            }